@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

:root {
  --color-primary: #dc143b;
  --color-secondary-black: #000;
  --color-white: #fff;
  --color-bg: #f5f5f5;

  --button-border-radius: 0.2rem;
  --btn-padding: 0.3rem 0.6rem;

  --transition: all 0.3s ease-in;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  /* position: relative; */
}

/* ==========NAVBAR========== */

nav {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4rem;
  background-color: var(--color-secondary-black);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

/* .container nav .nav-container .nav-logo {
  margin-left: 0.1rem;
} */

nav .nav-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

nav .nav-container .nav-logo h3 {
  color: var(--color-white);
  font-size: 1rem;
}

nav .nav-container .nav-logo h3 span {
  color: var(--color-primary);
}

nav .nav-container .nav-logo p {
  color: var(--color-white);
  font-size: 0.52rem;
  font-weight: 300;
}

nav .nav-container .nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

/* nav .nav-container .nav-items {
  display: flex;
  
} */
nav .nav-container .nav-items ul {
  display: flex;
  gap: 2rem;
}

nav .nav-container .nav-items ul a {
  color: var(--color-white);
  font-size: 0.8rem;
  transition: var(--transition);
}

nav .nav-container .nav-items ul a:first-child {
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 600;
}

nav .nav-container .nav-items ul a:first-child:hover {
  color: var(--color-white);
}

nav .nav-container .nav-items ul a:hover {
  color: var(--color-primary);
}

.container .nav-bottom {
  width: 100%;
  background-color: var(--color-primary);
  position: absolute;
  top: 4rem;
  left: 0;
  padding: 0.5rem;
}

.container .nav-bottom p {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 500;
}

.container .nav-bottom p span {
  color: var(--color-white);
}

/* ==========HEADER========== */

header {
  width: 100%;
  position: relative;
}

header .header-container {
  width: 100%;
  height: 70vh;
  /* background-color: aqua; */
  position: absolute;
  top: 5.8rem;
  left: 0;
}

header .header-container .header-contents {
  padding: 2rem 0 0 4.6rem;
  width: 100%;
  height: 70vh;
  background-image: url(./images/Header-image-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

header .header-container .header-contents h5 {
  color: var(--color-primary);
  position: relative;
  text-transform: uppercase;
}

header .header-container .header-contents h5::after {
  content: "";
  width: 25%;
  height: 0.1rem;
  position: absolute;
  bottom: -0.2rem;
  left: 0;
  background-color: var(--color-primary);
}

header .header-container .header-contents .header-subtext {
  color: var(--color-white);
  padding-top: 0.5rem;
}

header .header-container .header-contents .header-subtext h4 {
  font-size: 0.85rem;
}

header .header-container .header-contents .header-subtext p {
  width: 20%;
  /* height: 5%; */
  text-align: justify;
  font-size: 0.6rem;
  padding-top: 1rem;
}

header .header-container .header-contents .action-button a {
  margin-top: 2rem;
  display: inline-block;
  background-color: transparent;
  border: 0.1rem solid var(--color-primary);
  border-radius: var(--button-border-radius);
  color: var(--color-primary);
  font-size: 0.7rem;
  font-weight: 600;

  padding: var(--btn-padding);
  transition: var(--transition);
}

header .header-container .header-contents .action-button a:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

header .header-container .header-contents .action-button a:active {
  color: var(--color-white);
  background-color: #ec4163;
}

/* ==========MAIN========== */

main {
  width: 100%;
  /* height: 100vh; */
  position: relative;
}

main .page-performance {
  display: flex;
  justify-content: center;
  align-items: center;
}
main .page-performance .page-performance-data {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 40rem;
  width: 80%;
  height: 8rem;
  background-color: var(--color-primary);
  border-radius: 1rem;
  color: var(--color-white);
}

main .page-performance .page-performance-data h2 p {
  font-size: 1.3rem;
}

main .list-of-items {
  width: 90%;
  position: absolute;
  top: 55rem;
  left: 7rem;
}

main .list-of-items h2 {
  color: var(--color-secondary-black);
  font-size: 2rem;
  font-weight: 800;
  /* margin-left: 2rem; */
}

main .list-of-items table {
  margin-top: 1.5rem;
  width: 90%;
  text-align: left;
  font-size: 0.6rem;
  font-weight: 500;
  color: #7e7e7e;
}

main .list-of-items table thead {
  color: var(--color-primary);
}

/* ==========NEWSLETTER========== */

main .newsletter-container {
  width: 80%;
  height: 8rem;

  position: absolute;
  top: 75rem;
  left: 7rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
  border-radius: 1rem;
}

main .newsletter-container .newsletter h3 {
  color: var(--color-white);
  font-size: 0.8rem;
  text-align: center;
}

main .newsletter-container input[type="email"] {
  padding: 0.15rem;
  border: 0.1rem solid var(--color-secondary-black);
  border-radius: 0.2rem;
  font-family: inherit;
}

main .newsletter-container input[type="email"]::placeholder {
  color: #7e7e7e;
  font-size: 0.6rem;
  font-family: inherit;
}

main .newsletter-container button {
  margin-top: 1rem;
  border: 0.1rem solid var(--color-primary);
  border-radius: var(--button-border-radius);
  color: var(--color-white);
  background-color: var(--color-secondary-black);
  font-size: 0.7rem;
  font-weight: 600;
  padding: var(--btn-padding);
  transition: var(--transition);
  font-family: inherit;
}

main .newsletter-container button:hover {
  background-color: rgb(29, 29, 29);
  cursor: pointer;
}

/* ==========FOOTER========== */

footer {
  width: 100%;
  position: relative;
}

footer .footer-container {
  width: 100%;
  height: 30vh;
  position: absolute;
  top: 90rem;
  background-color: var(--color-secondary-black);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer .footer-container .footer-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  font-size: 0.6rem;
}

footer .footer-container .footer-content h3 {
  font-size: 1.1rem;
}

footer .footer-container .footer-content h3 span {
  color: var(--color-primary);
}

footer .footer-container .footer-content .footer-icons a {
  font-size: 0.9rem;
  color: var(--color-white);
}
