@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap");

:root {
  --color-primary: #dc143b;
  --color-secondary-black: #000;
  --color-white: #fff;
  --color-bg: #f5f5f5;

  --border-radius: 2rem;
  --btn-padding: 0.5rem 2rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--color-bg);
  overflow-x: hidden;
}

.container {
  width: 100%;
}
